<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house me-2" aria-hidden="true"></i> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <i class="fa-solid fa-magnifying-glass me-2" aria-hidden="true"></i> Buscar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cart">
                <i class="fa-solid fa-cart-shopping me-2" aria-hidden="true"></i> Carrito
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mis-servicios">
                <i class="fa-solid fa-receipt me-2" aria-hidden="true"></i> Mis compras
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perfil">
                <i class="fa-solid fa-user me-2" aria-hidden="true"></i> Mi cuenta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rubros">
                <i class="fa-solid fa-layer-group me-2" aria-hidden="true"></i> Rubros
            </NavLink>
        </div>
        
        <AuthorizeView>
            <Authorized>
                 <div class="nav-item px-3 mt-4 border-top pt-2">
                    <NavLink class="nav-link text-danger" href="logout">
                        <i class="fa-solid fa-arrow-right-from-bracket me-2" aria-hidden="true"></i> Salir
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
