@page "/211"

<div class="d-flex">
    <NavMenu2 />

    <div class="flex-grow-1" style="margin-left: 240px;">
        <TopBar />

        <div class="container py-4">
            <h2 class="mb-4 text-center">Descubrí los servicios más solicitados</h2>
            <CarouselServices />

            <h2 class="mb-4 text-center mt-5">Conocé a nuestros profesionales</h2>
            <CarouselProfessionals />
        </div>
    </div>
</div>
